html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background: #f5f5dc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.5em;
    background-color: #ffdcb1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: rgb(94, 12, 161);
    overflow:visible;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: 1;
}

.Nombre{
    /*background-color: rgb(0, 156, 177);*/
    
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    text-decoration:none;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

footer {
    /*position: absolute;
    bottom: 0;
    left: 0;*/
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    padding: 3px;
    background-color: rgb(255, 220, 177);
    color: rgb(94, 12, 161);
    bottom: 0;
    left: 0;
    width: 100%;
}

.dropbtn {
    background-color: rgb(255, 220, 177);
    color: rgb(94, 12, 161);
    
    padding: 16px;
    font-size: 16px;
    border: none;
}
  
  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
  
  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
  /* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.centrar{
    
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    /*position:relative;
    top: 5;
    bottom: 10;*/
}

* {box-sizing: border-box;}

.mySlides {
    display: none;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.active {
    background-color: #717171;
}

/*.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}*/


.imgLocal{
    margin-top: 2.5em;
    width: 100%;
    height: auto;
}

.nombreLocal{
    padding: 10px;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
}

.BotoneraIndex{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 2em;
}

.btMenu{
    background: rgb(255, 220, 177);
    padding: 5px;
    text-decoration: none;
    color: rgb(94, 12, 161);
    width: 9.8em;
    display: flex;
    justify-content: center;
}

.btDireccion{
    background: rgb(255, 220, 177);
    padding: 5px;
    text-decoration: none;
    color: rgb(94, 12, 161);
    width: 10.1em;
    display: flex;
    justify-content: center;
}


.map-responsive{
    
    overflow:hidden;

}

.map-responsive iframe{
    
    width: 100%;
    height: 22em;
    margin-top: 4.3em;
    border:0;
}


@media (min-width: 380px) {   
    .Nombre{
        /*background-color: rgb(0, 156, 177);*/
        /*width: 6.7em;*/
    }
}

@media (min-width: 405px) {   
    .Nombre{
        /*width: 7.3em;*/
    }
}

.ListadoMenu{
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
}

.acomodarLi{
    /*background: green;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin-top: 1.6em;
}

.aLi{
    /*background: blue;*/
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    margin-right: 0.8em;
}

.imgMenu{
    /*background: red;*/
    width: 25%;
    display: flex;
    justify-content: flex-end;
    
}

.LMp{
    margin-top: 3em;
}

.pdm{
    display: flex;
    flex-direction: column;
    margin-top: 1.8em;
    margin-bottom: 1.5em;
    width: 100%;
}

.pe1{
    padding: 10px;
    width: 100%;
}

.pe2{
    padding: 10px;
    width: 100%;
    height: 10em;
}

.pp1{
    font-size: 18px;
}

.pacodiv{
    margin-top: 0.5em;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
}

.pb1{
    width: 5em;
}

.pb2{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 25px;
}
